.nav-login{
    background-color: #fff;
}
.auth-form{
   /* border: 2px solid red; */
display: flex;
border-radius: 12px;
box-shadow: inset;
width: 100%;
flex-direction: column;
gap:9px;
background-color: #fff;

}


.box-input{
    /* border: 2px solid red; */
    width: 100%;
    background-color: #fff;
}
@media  screen and (max-width:700px) {
    .form-heading{
        font-size: 24px;
        font-weight: 500;
    }
    
}
@media  screen and (max-width:500px) {
.login-logo{
        width: 150px !important;
    }
}