.navbar-card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 50px; */
}
.filter-section{
    display: flex;
    flex-direction: column  ;
    width: 300px;
    height: 100%;
  
}
.page-box{
   display: flex;
   width: 100%;
   /* margin: 0px auto; */
   
}
/* .card-container{
    display: flex;
    justify-content: center;
} */

@media (max-width: 349px) {
  .card-container {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}