
.image-container{
display: flex;
justify-content: center;

}
.cardImg{
    width: 200px;
    height: 230px;
    object-fit: contain;
    display: flex;
  text-align: center;
}
.card{
  display: flex;
  position: relative;
  top: 80px;
  flex-wrap: wrap;

  /* gap: 40px; */
  /* margin-top: 25%; */

}


