
    @media screen and (max-width: 950px) {
        .nav-heading {
          display: flex;
          padding:30px;
          width: 100%;
          padding: 0px;
          flex-wrap: wrap;
          align-items: center;
        }
        .search-box{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }